<mat-toolbar>
  <app-back-button target="/"></app-back-button>
  <h1>Scan to Pay</h1>
</mat-toolbar>

<div class="outer">
  <button
    mat-raised-button
    color="primary"
    class="full-width"
    (click)="startScan()"
    *ngIf="!scanActive"
  >
    <mat-icon>qr_code_2</mat-icon>Start Scan
  </button>
  <button
    mat-raised-button
    class="full-width"
    color="warn"
    (click)="stopScan()"
    *ngIf="scanActive"
  >
    <mat-icon>cancel</mat-icon> Cancel
  </button>
  <button mat-raised-button (click)="reset()" *ngIf="scanResult">Reset</button>

  <div>
    <div [hidden]="!scanActive">
      <video #video></video>
    </div>

    <div hidden>
      <canvas #canvas></canvas>
    </div>
  </div>
  <div *ngIf="scanResult"><app-solana-pay-processor [requestURL]="scanResult"></app-solana-pay-processor></div>
</div>
